html {

    width: 100%;
    box-sizing: border-box;
}

body {
    background: url("./images/bg-curve-desktop.svg") bottom no-repeat;
    background-size: 300% 70%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.2rem;
    width: 100%;
    margin: auto;
}


header {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 20px 50px;
}

ul {
    list-style-type: none;
}

li {
    line-height: 25px;
}

a {
    text-decoration: none;
}

.logo {
    block-size: 30px;
}

nav ul {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    display: flex;
}

nav ul li a {
    margin: 15px;
    color: hsl(243, 87%, 12%);
}

.main-container {
    padding: 50px;
    justify-content: center;
    box-sizing: border-box;
    display: grid;
    row-gap: 150px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.illustration-img {
    width: 70%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 29px;
    line-height: 2rem;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    color: hsl(243, 87%, 12%);
}

.form {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

input {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 8px;
}

#email {
    width: 50%;
}

#button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 11px;
    padding: 9px 40px;
    color: white;
    box-shadow: 1px 1px 5px 1px hsl(240, 10%, 50%);
    background-color: hsl(224, 93%, 58%);
    border: none;
}

#button:hover {
    cursor: pointer;
    background-color: hsla(256, 44%, 51%, 0.678);
}

.link {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 4px;
    border-bottom: 1px solid hsl(157, 78%, 31%);
}

.link:hover {
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.link a {
    text-decoration: none;
    color: hsl(157, 78%, 31%);
    font-weight: 400;
}

.link a:hover {
    color: hsl(170, 45%, 43%);
}

.item>p {
    font-weight: 400;
    font-size: 13px;
}

.one {
    grid-area: 1/2/2/3;
}

.two>h2 {
    padding-right: 150px;
}

.two>p {
    padding-right: 200px;
}

.three {
    grid-area: 2/2/3/3;
}

.four>p {
    color: hsl(240, 23%, 39%);
    padding-right: 200px;
}

.five {
    margin-right: 10px;
    width: 35%;
}

.five h3 {
    letter-spacing: 0.1rem;
}

.six {
    width: 40%;
    margin-left: 10px;
    margin-right: 0;
}

.six #email {
    border: none;
}

.testimonial {
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 1px 1px 10px hsl(240, 13%, 91%);
    width: 50%;
    background-color: white;
    padding: 18px;
    border-radius: 15px;
}

.testimonial p {
    font-size: 13px;
}

.profile span {
    margin: 5px;
}

.profile span p {
    font-size: 10px;
    line-height: 0px;
}

.dp {
    border-radius: 100px;
    block-size: 30px;
}

#name {
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bolder;
    color: hsl(243, 87%, 12%);
}

.section-2 {
    padding: 50px;
    color: hsl(240, 75%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    background-color: hsl(240, 23%, 39%);
}

.section-2 p {
    font-weight: 400;
    font-size: 14px;
    color: hsl(240, 75%, 98%);
}

.footer {
    padding: 50px;
    background-color: hsl(243, 87%, 12%);
}

.lists a {
    font-weight: 400;
    font-size: 14px;
    color: hsl(0, 0%, 75%);
}

.lists a:hover {
    color: hsla(256, 44%, 51%, 0.678);
    cursor: pointer;
}

.lists img {
    vertical-align: middle;
    block-size: 15px;
    margin: 5px;
}

.contact-divs {
    margin-left: -40px;
    display: flex;
    justify-content: space-between;
}

.socials {
    margin-right: 120px;
}

.fa {
    width: 15px;
    text-decoration: none;
    padding: 6px;
    border: 1px solid hsl(0, 0%, 75%);
    border-radius: 150px;
    color: white;
    margin: 10px;
}

.fa:hover {
    color: hsla(256, 44%, 51%, 0.678);
    cursor: pointer;
}

@media screen and (max-width:850px) and (min-width:550px) {


    .illustration-img {
        width: 100%;
    }

    h2 {
        font-size: 25px;
    }

    .two>h2 {
        padding-right: 0px;
    }

    .two>p {
        padding-right: 0px;
    }

    .four>p {
        padding-right: 0px;
    }

    .five {
        margin-right: 0px;
        width: 50%;
    }

    .six {
        width: 40%;
        margin-left: 0px;
    }

    #email {
        box-sizing: border-box;
        width: 100%;
    }

    .testimonial {
        border-radius: 10px;
        padding: 18px;
        width: 100%;
    }

    .testimonial p {
        font-size: 12px;
    }

    .socials {
        margin-right: 0px;
    }

    .fa {
        margin: 2px;
    }
}

@media screen and (max-width:550px) and (min-width:140px) {

    html {
        background: url("./images/bg-curve-mobile.svg") bottom no-repeat;
        background-size: 900% 72%;
    }

    body {
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    header {
        margin: 10px 0px;
        padding: 10px;
    }

    .main-container {
        padding: 5px 0px 40px 0px;
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 20px;
    }

    .logo {
        block-size: 20px;
    }

    nav ul {
        font-size: 13px;
    }

    nav ul li a {
        margin: 4px;
    }

    .illustration-img {
        width: 100%;
    }

    .item {
        box-sizing: border-box;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 20px;
    }

    .one,
    .three {
        grid-area: auto;
    }

    .three {
        margin-top: 150px;
    }

    .two h2 {
        font-size: 20px;
    }

    .two h2,
    .two p,
    .four p {
        padding: 0px;
    }

    .four p {
        text-align: left;
    }

    .four h2 {
        font-size: 18px;
    }

    .form {
        width: 80%;
    }

    #email {
        box-sizing: border-box;
        width: 100%;
    }

    #button {
        width: 100%;
    }

    p {
        text-align: center;
    }

    .testimonial {
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px;
        width: 100%;
    }

    .testimonial p {
        font-size: 12px;
    }

    .section-2 {
        padding: 40px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .five {
        margin: 0px;
        width: 100%;
    }

    .six {
        width: 100%;
        margin: 0px;
    }

    .footer {
        text-align: left;
        padding: 40px 30px;
        background-color: hsl(243, 87%, 12%);
    }

    .contact-divs {
        display: flex;
        flex-direction: column;
    }

    .lists {
        padding: 10px 0px;
    }

    .lists p {
        text-align: left;
    }

    .lists img {
        vertical-align: middle;
        block-size: 15px;
        margin-right: 10px;
    }


    .socials {
        text-align: center;
        width: 60%;
        margin: auto;
    }

}